.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/netflix-backgroundimage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  background: rgba(0, 0, 0, 0.85);
}

input {
  background-color: darkgray;
  height: 3rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.button {
  margin-top: 4rem;
}

h1 {
  color: white;
}

p {
  color: red;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}
