.container {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  height: 500px;
  z-index: 100;
  overflow-x: scroll;
  background-color: rgba(233, 220, 220, 0.8);
  display: flex;
  padding-left: 20px;
  border-radius: 10px;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
