.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgrey;

  .box {
    background-color: black;
    border-radius: 10px;

    .button {
      background-color: red;
      border: 2px solid black;
      border-radius: 10px;
      margin-top: 70%;
    }
  }
  .h1 {
    color: white;
  }
}

.card {
  background: #000;
}
